<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>P A N D O R A  -  B A C K </title>

  <script src="https://unpkg.com/moonjs"></script>
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Josefin+Sans:400,700|Prompt:400,500,700|Roboto+Mono:400,400i,500,500i"
    rel="stylesheet">

  <script src="/scripts/terminal.min.js"></script>

  <script src="/js/dependencies/sails.io.js"></script>
</head>

<body>
  <div id="app">
    <h1>Peso: {{ weight }}</h1>
    <input id="weight" type="number" name="weight" placeholder="Peso">
    <button id="btn">Enviar</button>
    <button id="btn-restore" m-on:click="restore">Restaurar</button>
  </div>
  <div id="terminal"></div>

  <script>
    var $ = document,
      t = new Terminal({
        dom: $.getElementById('terminal'),
        speed: 45
      }),
      initTerminal = () => {
        t.run(function (o) {
          o.output('P A N D O R A  / 2 0 1 7').wait(300);
          o.newline();
          o.output('Iniciando administrador......').wait(300);
          o.newline();
        })
      },
      write = function (msg) {
        t.run(function (o) {
          o.output(msg).wait(300)
          o.newline()
        })
      }

    var app = new Moon({
      el: "#app",
      data: {
        weight: null
      },
      hooks: {
        init: function () {
          initTerminal()
        }
      },
      methods: {
        restore: function () {
          this.set('weight', 0)
          io.socket.get('/peso/0', (data, res) => {
            if (res.statusCode === 200) {
              app.set('weight', 0)
              write('0')
            }
          })
        }
      }
    })


    $.getElementById('btn').addEventListener('click', () => {
      var peso
      if ($.getElementById('weight').value === '') peso = 0
      else peso = parseFloat($.getElementById('weight').value)
      io.socket.get('/peso/' + peso, (data, res) => {
        if (res.statusCode === 200) {
          app.set('weight', peso)
          write(peso.toString())
        }
      })
    })

  </script>

</body>

</html>
