<div id="app">

  <div id="header">
    <h1 class="planet">Tierra</h1>
    <p class="description">Planeta</p>
  </div>

  <div id="canvas">
  </div>
</div>

<script src="/scripts/p5.js"></script>
<script>
  var app = new Moon({
    el: '#app',
    hooks: {
      init: function () {
        planet = this.get('planet')
      }
    },
    data: {
      planet: 'sun',
      weight: 49
    },
    methods: {}
  })

</script>

<script src="/scripts/data.js"></script>
