html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#app {
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400 !important;
}

#terminal {
    font-family: 'Roboto Mono', monospace;
}

#header,
#info,
.info-container,
h1.planet,
p.description {
    margin-top: 0;
    text-align: right;
}

h1.planet {
    text-shadow: 0px 1px 80px #000;
    font-size: 12rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

.transparent {
    background-color: transparent;
}

.absolute {
    position: absolute;
}

.info-container {
    top: 100px;
    right: 100px;
}

::selection {
    color: white;
    background: transparent;
}

#data {
    font-size: 3rem;
    margin-bottom: 0;
}

#detail {
    margin-top: 1px;
}

#info-panel {
    display: inline-flex;
}

#info {
    margin-left: 40px;
}

#info-planet {
    left: 15px;
    bottom: 10px;
}

li {
    list-style-type: none;
}


/**
* MENÚ DE SELECCIÓN DE PLANETAS
*/

.planet-list {
    left: 80px;
}

li.sun:hover {
    color: yellow
}

li.mercury:hover {
    color: rgb(107, 107, 107)
}

li.venus:hover {
    color: rgb(156, 66, 14)
}

li.earth:hover {
    color: rgb(0, 80, 133)
}

li.mars:hover {
    color: rgb(226, 54, 11)
}

li.jupiter:hover {
    color: rgb(189, 121, 48)
}

li.saturn:hover {
    color: rgb(198, 199, 169)
}

li.uranus:hover {
    color: rgb(127, 187, 224)
}

li.neptune:hover {
    color: rgb(4, 62, 99)
}


/**
* INFO PLANETA
*/

#velocidad {
    margin-top: 1rem;
    font-size: 13px;
}

#plantet_list_info {
    margin-left: 0;
    padding-left: 0;
}

.little_text {
    
    color: gray;
    font-size: 10px;
}


/**
* MODAL
*/

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.945);
}

.modal-content {
    color: white;
    background-color: #000000;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}